a {
  color: inherit;
  text-decoration: none;
  transition: color $duration, background-color $duration;
}

input {
  border-radius: 0;
}

a,
input,
[tabindex="0"] {

  &:focus {
    outline: 2px solid $color-overlay-primary;
    outline-offset: 2px;
    z-index: 2;
  }
}