@font-face {
	font-family: Knockout-HTF49-Liteweight;
	src: url('../assets/fonts/Knockout-HTF49-Liteweight.otf');
	font-weight: normal;
}

@font-face {
	font-family: Knockout-HTF28-JuniorFeatherwt;
	src: url('../assets/fonts/Knockout-HTF28-JuniorFeatherwt.otf');
	font-weight: normal;
}

@font-face {
	font-family: MaisonNeue-Bold;
	src: url('../assets/fonts/MaisonNeue-Bold.ttf');
	font-weight: normal;
}

@font-face {
	font-family: MaisonNeue-Book;
	src: url('../assets/fonts/MaisonNeue-Book.ttf');
	font-weight: normal;
}

@font-face {
	font-family: MaisonNeue-Light;
	src: url('../assets/fonts/MaisonNeue-Light.ttf');
	font-weight: normal;
}

@font-face {
	font-family: MuseoSlab-300;
	src: url('../assets/fonts/MuseoSlab-300.otf');
	font-weight: normal;
}

@font-face {
	font-family: MuseoSlab-500;
	src: url('../assets/fonts/MuseoSlab-500.ttf');
	font-weight: normal;
}

@font-face {
	font-family: NimbusSanTConBold;
	src: url('../assets/fonts/NimbusSanTConBold.ttf');
	font-weight: normal;
}