// Headlines
//
// Global headline elements and classes. These can be used as HTML elements or CSS classes.
//
// Markup:
// <h1 class="h1">The quick brown fox jumps over the lazy dog</h1>
// <h2 class="h2">The quick brown fox jumps over the lazy dog</h2>
// <h3 class="h3">The quick brown fox jumps over the lazy dog</h3>
// <h6 class="h6">The quick brown fox jumps over the lazy dog</h6>
//
// Styleguide Typography.headlines

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; // px fallback
  font-size: calculateRem($size);
}

body {
  font-size: 16px;
  font-family: $font-book;
}

h1,
.h1 {
  @include fontSize(50px);

  color: $color-black;
  font-family: $font-knockout;
}

h2,
.h2 {
  @include fontSize(48px);

  font-family: $font-light;
  font-weight: 100;
}

h3,
.h3 {
  @include fontSize(48px);

  font-family: $font-knockout-light;
  font-weight: 700;
}

h6,
.h6 {
  @include fontSize(12px);

  color: $color-dark;
  font-family: $font-book;
}

// Miscellaneous
//
// Miscellaneous typographic elements and classes. The paragraph element will not inherit the class's styles
//
// Markup:
// <p class="paragraph">The quick brown fox jumps over the lazy dog</p>
// <a class="link">The quick brown fox jumps over the lazy dog</a>
//
// Styleguide Typography.miscellaneous

.paragraph {
  color: $color-text;
  line-height: 1.8;
}

a,
.link {
  color: $color-primary;
  text-decoration: none;
  transition: color $duration;

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}