.relative {
  position: relative;
}

.border-box {
  box-sizing: border-box;
}

.width-full {
  width: 100%;
}

.max-width-full {
  max-width: 100%;
}

.list-unstyled {
  list-style: none;
}

.text-bold {
  font-family: $font-bold;
}

.text-sm {
  @include fontSize(12px);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;

  &-lg { @include maxWidth($breakpoint-lg) { text-align: left; } }
}

.text-center {
  text-align: center;

  &-xl { @include maxWidth($breakpoint-xl) { text-align: center; } }
  &-lg { @include maxWidth($breakpoint-lg) { text-align: center; } }
  &-md { @include maxWidth($breakpoint-md) { text-align: center; } }
}

.letter-spacing {
  letter-spacing: .25em;
}

.color {

  &-primary { color: $color-primary; }
}

.bg-color {

  &-white { background-color: $color-white; }
  &-primary { background-color: $color-primary; }
  &-light { background-color: $color-light; }
}

.shadow {
  box-shadow: $box-shadow;
}

.pull-up {
  transform: translateY(-50%);

  @media (max-width: $breakpoint-lg) {
    transform: none;
  }
}
