.u-padding {
  padding: $spacing;

  @media (max-width: 800px) {
    padding: $spacing / 2;
  }

  &--lg {
    padding: $spacing * 2;

    @media (max-width: 800px) {
      padding: $spacing;
    }
  }

  &-left {
    padding-left: $spacing;

    &--lg {
      padding-left: $spacing * 2;
    }
  }

  &-right {
    padding-right: $spacing;

    &--lg {
      padding-right: $spacing * 2;
    }
  }
}

.u-pull-up {
  transform: translateY(-50%);
  
  @media (max-width: 800px) {
    margin-top: -45%;
  }
}

.u-list-unstyled {
  padding-left: 0;
  list-style: none;
}

.u-arrow {
  max-width: 30px;

  &--small {
    max-width: 25px;
  }
}

.u-text-small {
  font-size: 12px;

  &--bold {
    font-weight: bold;
  }
}
