.list-unstyled {
  list-style: none;
}

.text-bold {
  font-family: $font-bold;
}

.text-small {
  @include fontSize(12px);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.bg-color {

  &-primary { background-color: $color-primary; }
  &-light { background-color: $color-light; }
}

.pull-up {
  transform: translateY(-50%);

  @media (max-width: $breakpoint-lg) {
    transform: none;
  }
}
