$color-primary: hsl(50, 99%, 53%);
$color-secondary: hsl(0, 0%, 84%);
$color-grey: hsl(0,0%,39%);

$spacing: 20px;

$duration: 250ms ease-in-out;

$breakpoint-lg: 800px;

$box-shadow: 0 30px 10px -20px rgba(0,0,0,0.3);