<p class="h4">Brand Colors</p>

<ul class="kss-colors">
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--brand-primary-blue"></div>
      <figcaption class="kss-colors__caption">
        <code>$brand-primary-blue</code>
        <code>#003370</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--brand-primary-red"></div>
      <figcaption class="kss-colors__caption">
        <code>$brand-primary-red</code>
        <code>#980d22</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--brand-secondary-gray"></div>
      <figcaption class="kss-colors__caption">
        <code>$brand-secondary-gray</code>
        <code>#5c6f7c</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--brand-secondary-purple"></div>
      <figcaption class="kss-colors__caption">
        <code>$brand-secondary-purple</code>
        <code>#650360</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--brand-text-gray"></div>
      <figcaption class="kss-colors__caption">
        <code>$brand-text-gray</code>
        <code>#58595b</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
</ul>
<!-- ./kss-colors -->

<p class="h4">Accent Colors</p>

<ul class="kss-colors">
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--accent-blue-light"></div>
      <figcaption class="kss-colors__caption">
        <code>$accent-blue-light</code>
        <code>#72ccd2</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--accent-blue"></div>
      <figcaption class="kss-colors__caption">
        <code>$accent-blue</code>
        <code>#2ba8c5</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--accent-blue-dark"></div>
      <figcaption class="kss-colors__caption">
        <code>$accent-blue-dark</code>
        <code>#042246</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--accent-yellow"></div>
      <figcaption class="kss-colors__caption">
        <code>$accent-yellow</code>
        <code>#faa634</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--accent-orange"></div>
      <figcaption class="kss-colors__caption">
        <code>$accent-orange</code>
        <code>#c65a11</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--accent-orange-dark"></div>
      <figcaption class="kss-colors__caption">
        <code>$accent-orange-dark</code>
        <code>#a74a19</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--accent-red"></div>
      <figcaption class="kss-colors__caption">
        <code>$accent-red</code>
        <code>#801129</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--accent-green"></div>
      <figcaption class="kss-colors__caption">
        <code>$accent-green</code>
        <code>#728549</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
</ul>
<!-- ./kss-colors -->

<p class="h4">Neutral Colors</p>

<ul class="kss-colors">
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--neutral-light"></div>
      <figcaption class="kss-colors__caption">
        <code>$neutral-light</code>
        <code>#eaeaea</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--neutral"></div>
      <figcaption class="kss-colors__caption">
        <code>$neutral</code>
        <code>#cdcdcd</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--neutral-dark"></div>
      <figcaption class="kss-colors__caption">
        <code>$neutral-dark</code>
        <code>#232323</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
</ul>
<!-- ./kss-colors -->

<p class="h4">Alert Colors</p>

<ul class="kss-colors">
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--alert-red"></div>
      <figcaption class="kss-colors__caption">
        <code>$alert-red</code>
        <code>#8b2025</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--alert-blue"></div>
      <figcaption class="kss-colors__caption">
        <code>$alert-blue</code>
        <code>#007eb9</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
</ul>
<!-- ./kss-colors -->

<p class="h4">Default Colors</p>

<ul class="kss-colors">
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--default-black"></div>
      <figcaption class="kss-colors__caption">
        <code>$default-black</code>
        <code>#000</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--default-white"></div>
      <figcaption class="kss-colors__caption">
        <code>$default-white</code>
        <code>#fff</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
</ul>
<!-- ./kss-colors -->

<p class="h4">Gradients</p>

<ul class="kss-colors">
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--gradient-orange"></div>
      <figcaption class="kss-colors__caption">
        <code>$gradient-orange</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--gradient-blue-light"></div>
      <figcaption class="kss-colors__caption">
        <code>$gradient-blue-light</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--gradient-blue"></div>
      <figcaption class="kss-colors__caption">
        <code>$gradient-blue</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--gradient-red"></div>
      <figcaption class="kss-colors__caption">
        <code>$gradient-red</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
  <li class="kss-colors__item">
    <figure class="kss-colors__item-inner">
      <div class="kss-colors__color-block kss-colors__color-block--gradient-purple"></div>
      <figcaption class="kss-colors__caption">
        <code>$gradient-purple</code>
      </figcaption>
    </figure>
  </li>
  <!-- ./kss-colors__item -->
</ul>
<!-- ./kss-colors -->