<div class="row">
  <div class="col-1">
    <div class="m-2 p-2 bg-color-primary">
      One
    </div>
  </div>

  <div class="col-2 col-1-sm">
    <div class="m-2 p-2 bg-color-primary">
      Two
    </div>
  </div>

  <div class="col-2 col-1-sm">
    <div class="m-2 p-2 bg-color-primary">
      Three
    </div>
  </div>

  <div class="col-3 col-2-md">
    <div class="m-2 p-2 bg-color-primary">
      Four
    </div>
  </div>

  <div class="col-3 col-2-md">
    <div class="m-2 p-2 bg-color-primary">
      Five
    </div>
  </div>

  <div class="col-3 col-1-md">
    <div class="m-2 p-2 bg-color-primary">
      Six
    </div>
  </div>

  <div class="col-2 col-2-sm">
    <div class="m-2 p-2 bg-color-primary">
      Seven
    </div>
  </div>

  <div class="col-4 col-2-sm">
    <div class="m-2 p-2 bg-color-primary">
      Eight
    </div>
  </div>

  <div class="col-4 col-1-sm">
    <div class="m-2 p-2 bg-color-primary">
      Nine
    </div>
  </div>

  <div class="col-6 col-3-md">
    <div class="m-2 p-2 bg-color-primary">
      Ten
    </div>
  </div>

  <div class="col-6 col-3-md">
    <div class="m-2 p-2 bg-color-primary">
      Eleven
    </div>
  </div>

  <div class="col-3">
    <div class="m-2 p-2 bg-color-primary">
      Twelve
    </div>
  </div>

  <div class="col-3 col-1-md">
    <div class="m-2 p-2 bg-color-primary">
      Twelve
    </div>
  </div>
</div>