.btn {
  border: 2px solid $color-primary;
  padding: 12px;
  color: $color-dark;
  font-family: $font-bold;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color $duration;

  &:hover {
    background-color: $color-primary;
  }

  &--arrow {
    display: inline-flex;
    align-items: center;

    img {
      margin-left: 10px;
      max-width: 25px;
    }
  }
}