// Button
//
// A button with an option arrow modifier.
//
// Markup:
// <a href="#btn" class="btn btn--arrow">Button <svg><use href="#arrow" /></svg></a>
//
// Styleguide Components.button

.btn {
  border: 2px solid $color-primary;
  padding: 14px 12px 12px;
  color: $color-dark;
  font-family: $font-bold;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 0;
  transition: background-color $duration;

  
  &:focus,
  &:hover {
    background-color: $color-primary;
    color: $color-dark;
  }

  &:active {
    background-color: $color-primary;
    color: $color-white;
  }

  &--arrow {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    svg {
      margin-bottom: -2px;
      margin-left: $spacing / 2;
      width: 36px;
      height: 20px;
    }
  }

  &--full {

    &-lg {

      @include maxWidth($breakpoint-lg) {
        width: 100%;
      }
    }
  }
}

.btn-img {
  display: inline-block;
  transition: opacity $duration;

  &:focus,
  &:hover {
    opacity: 0.75;
  }

  img {
    max-width: 140px;
  }
}
