.community-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 180px;
}

.community {

  &__slogan {
    margin-top: 0px;
    margin-left: 70px;

    &__text {
      color: #373737;
      font-weight: 700;
      font-family: Knockout-HTF28-JuniorFeatherwt;
      font-size: 48px;
      letter-spacing: 1px;
      text-align: left;
      margin: 5px 0 10px 0;
    }
  }

  &__social {
    font-size: 10px;
    font-weight: 700;
    font-family: MaisonNeue-Book;
    margin-left: 70px;
  }

  &__message {
    color: $color-text;
    line-height: 1.8;
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__img {
    height: 169px;
    width: 169px;
    background-size: cover;
  }
}