main {
  /* Account for the navbar height */
  @include maxWidth($breakpoint-lg) {
    padding-top: 93px;
  }

  padding-top: 61px;
}

.container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  max-width: $breakpoint-xl;
}
