.footer {
  
  &__slogan {
    @include fontSize(16px);

    color: $color-text;
    font-family: $font-bold;
    line-height: 1.8;
  }

  
  &__headline {
    @include fontSize(28px);

    color: $color-dark;
    font-family: $font-book;
  }

  li {
    @include fontSize(18px);

    font-family: $font-book;
    list-style: none;

    a {
      color: $color-text;
      text-decoration: none;
      letter-spacing: 0;

      &:hover {
        color: $color-primary-alt;
      }
    }
  
  }

  &__social-img {
    margin-right: 15px;
    max-width: 30px;
    max-height: 20px;
    color: $color-primary;
  }

  &__newsletter {
    display: flex;
    flex-direction: row;

    input[type="email"] {
      border: none;
      padding: 10px;
      color: $color-text;
      background-color: $color-light;
    }

    input[type="submit"] {
      border: none;
      color: $color-primary-alt;
      background-color: $color-light;
    }
  }
}