.grid {
  display: flex;
  flex-direction: row;
  /* margin: 0 80px; */

  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
  }

  &--space-around {
    justify-content: space-around;
  }

  &--pullup {
    transform: translateY(-50%);
  
    @media (max-width: $breakpoint-lg) {
      transform: none;
    }
  }

  &__50-column {
    box-sizing: border-box;
    width: 50%;

    @media (max-width: $breakpoint-lg) {
      width: 100%;
    }

    &--align-right {
      text-align: right;

      @media (max-width: $breakpoint-lg) {
        text-align: left;
      }
    }
  }

  &__33-column {
    box-sizing: border-box;
    width: 33.33%;

    @media (max-width: $breakpoint-lg) {
      width: 100%;
    }
  }
}
