.headline {
  text-align: center;
  font-size: 48px;
  font-family: $font-light;
  letter-spacing: .25em;
  color: $color-headline;
  background-color: #fff;
  font-weight: lighter;

  @media (max-width: $breakpoint-lg) {
    font-size: 42px;
  }

  &--sm {
    font-size: 39px;
    font-weight: bold;
    letter-spacing: 0;

    @media (max-width: $breakpoint-lg) {
      font-size: 28px;
      margin: auto;
    }
  }
}
