.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-color: rgb(143, 164, 193);
  width: 100%;

  &__title {
    color: black;
    font-size: 6em;
    text-align: center;
    font-family: "Knockout-HTF49-Liteweight", sans-serif;

    @media (max-width:$breakpoint-lg) {
      font-size: 2.5em;
      margin: 60 0 auto;
      letter-spacing: 0.05em;
    }
  }
}