.hero {
  @include maxWidth($breakpoint-lg) { min-height: 550px; }

  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 750px;

  & > * {
    position: relative;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-overlay-white;
    content: '';
  }

  &__title {
    @include maxWidth($breakpoint-lg) {
      @include fontSize(93px);
      
      max-width: 100%;
    }

    @include maxWidth($breakpoint-md) {
      @include fontSize(43px);
    }
    
    @include fontSize(148px);
    
    
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    word-wrap: break-word;
  }
}
