.insta-img {
  @include maxWidth($breakpoint-sm) {
    height: 150px;
    width: 150px;
  }

  height: 169px;
  width: 169px;
  background-size: cover;
}

.press-img {
  max-width: 150px;
  max-height: 40px;
}

.app-img {
  max-width: 60%;
}

.app-download-img {
  transition: opacity $duration;

  &:hover {
    opacity: 0.75;
  }

  img {
    max-width: 140px;
  }
}
