.image {
  text-align: center;
   
  &__sm {
    max-width: 250px;
  }

  &__smaller {
    max-width: 60%;
  }

}

.insta-img {
  height: 169px;
  width: 169px;
  background-size: cover;
}

.press-img {
  max-width: 150px;
  max-height: 40px;
}

.rachael-img {
  max-width: 340px;
}

.rachael-two-img {
  max-width: 250px;
}

.app-img {
  max-width: 60%;
}

.app-download-img {
  max-width: 140px;
  background-color: $color-primary;
  transition: opacity $duration;

  &:hover {
    opacity: 0.75;
  }
}