.twocol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &_box {
    width: 48%;
    max-width: 200px;
    margin-bottom: 20px;
    min-height: 200px;
    bottom: -145px;

    &--left {
      display: flex;
      background-color: hsl(50, 99%, 53%);
      justify-content: flex-start;
      margin-right: 3%;
    }

    &--right {
      display: flex;
      background-color: hsl(0, 0%, 84%);
      justify-content: flex-end;

    }
  }

  h3 {
    text-align: center;
    letter-spacing: 0.05em;
  }
}