.navbar {

  &__list {
    display: flex;
    float: right;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 0px;

    &__item {
      float: left;
      position: relative;
      padding-top: 26px;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 0.071em;
      font-family: "Lato",sans-serif;

      &__link {
        text-decoration: none;
        line-height: 1;
        color: #909090;
        margin-right: .923em;
        padding-bottom: 10px;

        &:hover {
          color: #f3cc4b;
        }

        &--btn {
          border: 2px solid #fed710;
          padding: 15px 20px;
          margin-top: 10px;
          font-weight: bold;
          color: black;

          &:hover {
            color: black;
            background-color: #fed710;
          }
        }
      }
    }
  }

  &__logo {
      width: 200px;
      padding: 10px;
      background-color: #fff;
      transform: translate(40px, 40px);
  }
}

