.pt-navbar {
  /* Account for the navbar height */
  padding-top: 70px;
}

.navbar {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity $duration;

  &__container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-white;
  }

  &__logo {
    @include maxWidth($breakpoint-lg) {
      transform: translateY(0);
    }

    background-color: $color-white;
    transform: translateY(50%);

    svg {
      @include maxWidth($breakpoint-lg) {
        width: 220px;
      }

      @include maxWidth($breakpoint-sm) {
        width: 180px;
      }

      box-sizing: border-box;
      padding: 10px;
      width: 230px;
      height: 70px;
    }
  }

  &__menu {
    @include fontSize(13px);

    @include maxWidth($breakpoint-lg) {
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      margin: 0;
      padding: 50px;
      width: 300px;
      max-width: calc(100vw - 100px);
      background-color: $color-primary;
      list-style-type: none;
      -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transform: translate(100%, 0);
      transition: transform 0.5s ease-in-out;
      box-shadow: $box-shadow-blurred;
    }

    font-family: $font-book;
    text-transform: uppercase;

    li {
      @include maxWidth($breakpoint-lg) {
        margin-bottom: 2.5em;
      }

      a {
        @include minWidth($breakpoint-lg + 1) {

          &:focus,
          &:hover { color: $color-primary-alt; }
        }

        @include maxWidth($breakpoint-lg) {
          @include fontSize(20px);

          color: $color-dark;

          &:focus,
          &:hover { color: $color-white; }
        }

        position: relative;
        margin-right: 1.5em;
        color: $color-text;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: .02em;

        &.btn {

          @include minWidth($breakpoint-lg + 1) {
            color: inherit;

            &:focus,
            &:hover { color: inherit; }
          }

          @include maxWidth($breakpoint-lg) {
            border: 0;
            padding: 0;
            background-color: inherit;
            font-family: inherit;
          }
        }
      }
    }
  }

  input {
    @include maxWidth($breakpoint-lg) { display: block; }

    display: none;
    position: absolute;
    top: 50%;
    right: 33px;
    width: 45px;
    height: 45px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;

    /*
    * fade in the backdrop
    */
    &:checked ~ .navbar__mobile-backdrop {
      opacity: 1;
      pointer-events: auto;
    }

    /*
    * transform all the slices of hamburger
    * into a crossmark.
    */
    &:checked ~ .navbar__mobile-icon {
      border-color: transparent;

      span {
        opacity: 1;
        transform: rotate(45deg) translate(0, 0);

        /*
        * but let's hide the middle one.
        */
        &:nth-last-of-type(2) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }

        /*
        * the last one should go the other direction
        */
        &:last-of-type {
          transform: rotate(-45deg) translate(2px, -3px);
        }
      }
    }

    /*
    * And let's slide the menu in from the left
    */
    &:checked ~ ul {
      transform: none;
    }
  }

  &__mobile-backdrop {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-overlay-black;
    transition: opacity $duration;
    transition-delay: $delay;
    pointer-events: none;
  }

  &__mobile-icon {
    @include maxWidth($breakpoint-lg) { display: block; }

    display: none;
    box-sizing: border-box;
    border: 2px solid $color-primary;
    border-radius: 50%;
    padding: 10px;

    span {
      @include maxWidth($breakpoint-lg) { display: block; }

      display: none;
      width: 20px;
      height: 3px;
      position: relative;
      background: $color-dark;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:last-of-type {
        transform-origin: 0% 100%;
      }

      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
    }
  }
}