.navbar {
  z-index: 999;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    @include fontSize(13px);

    font-family: $font-book;
    text-transform: uppercase;

    a {
      margin-right: 1.5em;
      color: $color-text;
      font-weight: bold;
      text-decoration: none;
      letter-spacing: .02em;

      &:hover {
        color: $color-primary-alt;
      }

      &.btn {
        color: inherit;
  
        &:hover {
          color: inherit;
        }
      }
    }

  }

  &__logo {
    width: 200px;
    padding: 10px;
    background-color: $color-white;
    transform: translateY(50%);
  }
}