.owner {
  
  &__img {
    max-width: 340px;
    padding-left: 20px;

    &--small {
      max-width: 250px;
    }
  }
  
  &__text-box {
    margin: 0 60px 0 60px;
  }
  
  &__headline {
    font-family: Knockout-HTF28-JuniorFeatherwt;
    font-weight: 700;
    font-size: 50px;
    margin: 15px 0 15px 0;
    color: #373737;
  }

  &__text {
    font-family: MaisonNeue-Light;
    color:#909090;
    line-height: 1.8;
  }
}