.quote {
  display: flex;
  justify-content: center;

  &__img {

    img {
      border-radius: 50%;
      max-width: 60px;
      margin: 20px 10px 0 0;
    }
  }
  
  &__container {
    width: 80%;
  }

  &__text {
    font-family: $font-quote;
    text-align: left;
    font-size: 17px;
    margin-right: 72px;
    color: #bababa;

    &--small {
      font-size: 12px;
      font-family: $font-bold;
    }
  }
}