@import '../node_modules/@glidejs/glide/src/assets/sass/glide.core';

.glide {

  &__track {

    &:after {
      @include maxWidth($breakpoint-sm) {
        background-image: none;
      }

      content: '';
      position: absolute;
      left: 0; right: 0;
      top: 0; bottom: 0;
      background-image:
        linear-gradient(to right, rgba(255,255,255,0.45), rgba(255,255,255,0) 100px),
        linear-gradient(to left , rgba(255,255,255,0.45), rgba(255,255,255,0) 100px);
      pointer-events: none;
    }
  }

  &__slide {
    height: auto;

    img {
      width: 100%;
    }
  }

  &__arrows {
    text-align: center;
    padding: 10px;
  }
}

.btn-slider {
  border: none;
  background: transparent;
  padding: 10px;
  color: $color-slider-btn;
  transition: color $duration;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $color-primary;
  }

  svg {
    margin-bottom: -5px;
    width: 40px;
    height: 22px;
  }

  &--left {
    transform: rotate(180deg);
  }
}
