.trainers {

  &__message {
    max-width: 600px;
    margin: auto;
  }

  &__box {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
  }

  &__img {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-clip: padding-box;
    box-shadow: $box-shadow-round;
    transition: box-shadow $duration, transform $duration;

    &:focus,
    &:hover {
      box-shadow: $box-shadow-blurred;
      transform: translateY(-.5rem);
      
      &::before,
      &::after {
        opacity: 1;
      }
    }

    &::before {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      border: 3px solid $color-primary;
      width: 100%;
      height: 100%;
      background-color: $color-overlay-white-clear;
      content: '';
      opacity: 0;
      transition: border $duration, opacity $duration;
    }
  
    &::after {
      @include fontSize(12px);

      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1rem;
      color: $color-dark;
      background-color: $color-primary;
      font-family: $font-bold;
      line-height: 0;
      opacity: 0;
      transition: opacity $duration;
      content: 'View Profile';
      pointer-events: none;
    }
  }

  &__name {
    @include fontSize(32px);

    color: $color-dark;
    font-family: $font-knockout-light;
    text-transform: uppercase;
    line-height: 0.8;
  }

  &__social {
    color: $color-text;
  }
}

.trainer {

  &__image {
    width: 100%;
  }
}