// Video
//
// A video component with custom controls.
//
// Markup:
// <div class="video-container">
//   <video class="video shadow" preload="none" poster="../assets/poster.jpg">
//     <source src="../assets/platefit.mp4" type="video/mp4">
//     Video Not Supported
//   </video>
// </div>
//
// Styleguide Components.video

.video-container {
  position: relative;
  display: inline-flex;

  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/play-btn.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px;
    opacity: 1;
    transition: opacity $duration;
    content: '';
  }

  &.is-playing {
    &::after {
      opacity: 0;
    }
  }
}

.video {
  max-width: 100%;
  width: 500px;
  object-fit: cover;
}
